<h1>Subjects#new</h1>
<%= form_for(:subject, :url =>{:action => 'create'}) do |f| %>
	<%= f.text_field(:name) %>
	<%= f.text_field(:position) %>
	<%= f.text_field(:visible) %>
	<%= submit_tag("Create Subject") %>
<% end %>